.card {
    overflow: initial;
    background: #ffffff;
    width: 18vw;
    height: 9vw;
    border-radius: 16px;
    transition: transform 200ms ease-in;
}

.card div:hover {
    border:solid 2px rgba(55, 81, 255, 0.8);
    border-radius: 16px;
    transform: scale(1.015);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 200ms ease-in;
}

.card-title {
    font-size: 1.5em;
} 

.card-info {
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: bold;
}


