.overview {
    width: 100%;
    height: 100%;
    padding: 0 1.5vw 0 1.5vw;
}

.overview h1 {
    color: #252733;
    font-size: 2em;
    font-weight: bold;
}

.overview .title-container {
    display: flex;
    justify-content: space-between;
    margin: 2vh 0 2vh 0;
}

.overview .body-top {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.overview .body-main {
    width: 100%;
    height: 68vh;
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
}

.body-chart-container {
    width: 100%;
    height: 100%;
}

.chart-title-container {
    padding: 3em 0 0 3em;
    text-align: left;
}

.chart-container {
    width: 80%;
    height: 80%;
}

.chart-title {
    color: #252733;
    font-weight: bold;
}

.chart-info-right {
    border-left: solid 1px rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.chart-item {
    padding: 2em;
}

.chart-item p {
    margin-bottom: 0;
}

.node-select-button {
    background: none;
    border: none;
}

.node-select-button:hover {
    color: #2b42d8;
    transition: ease-in-out 0.2s;
}

