
.overview .body-top {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.overview .body-main {
    width: 100%;
    height: 68vh;
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    margin-bottom: 1%;
}

.body-chart-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-title-container {
    padding: 3em 0 0 3em;
    text-align: left;
}

.chart-container {
    width: 80%;
    height: 80%;
}

.chart-title {
    color: #252733;
    font-weight: bold;
}

.chart-info-right {
    border-left: solid 1px rgba(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.chart-item {
    padding: 2%;
}

.chart-item span {
    font-size: 1vw;
}

.chart-item p {
    font-size: 1vw;
    margin-bottom: 0;
}

.chart-item h2 {
    font-size: 1.2vw;
}

