.popupBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.8);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
  }
  
  .popupContainer {
    width: 700px;
    height: 500px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .popupContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .popupContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align:middle;
  }
  
  .popupContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #3751FF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
    p {
    color: #9FA2B4;
    margin-bottom: 20px;
  }
  #cancelBtn {
    background-color: #9FA2B4;
  }

  .dropdown-menu {
    overflow-y: scroll;
  }

  .map-container {
    width: 650px;
    height: 60vh;
    margin-bottom: 10px;
    margin-top: 10px;
  }