#shipment {
    width: 100%;
    height: 100%;
    padding: 0 1.5vw 0 1.5vw;
}

#shipment h1 {
    color: #252733;
    font-size: 2em;
    font-weight: bold;
}

#shipment .title-container {
    display: flex;
    justify-content: flex-start;
    margin: 2vh 0 2vh 0;
}

#shipment .body-top {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}

#shipment .body-main {
    width: 100%;
    height: 68vh;
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#shipment th {
    color: #9FA2B4;
    font-size: 15px;
    font-weight: bold;
    text-align:left;
    padding-left: 1%;
}

#shipment td {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    text-align:left;
    border: none;
    vertical-align: middle;
    padding: 1.5% 0 1.5% 1%;
}

#shipment tbody {
    border-top: 1px solid #ddd !important;
}

#shipment .td-key {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align:left;
}

.shipmentTableContainer {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 16px;
    height: 90%;
    padding: 2%;
    text-align: left;
}

.tableTitle {
    color: #252733;
}