#shipment {
    width: 100%;
    height: 100%;
    padding: 0 1.5vw 0 1.5vw;
}

#shipment h1 {
    color: #252733;
    font-size: 2em;
    font-weight: bold;
}

#shipment .title-container {
    display: flex;
    justify-content: flex-start;
    margin: 2vh 0 2vh 0;
}

#shipment .body-top {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2vh;
}

#shipment .body-main {
    width: 100%;
    height: 68vh;
    background: #ffffff;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

#shipment th {
    color: #7A7C88;
    font-size: 15px;
    font-weight: bold;
    text-align:left;

}

#shipment td {
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    text-align:left;

}

#shipment .td-key {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align:left;
}