#sideNavBar {
    position: relative;
    height: 100vh;
}

.sidebarHeaderContainer .headerLink {
    text-decoration: none;
}

.sidebarHeaderContainer p{
    text-align: center;
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}