.startPageContainer {
    min-height: 55vh;
    min-width: 420px;
    width: 20vw;
    border: solid 1px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 10px 2vw 10px 2vw ;
    flex-direction: column;
}

form {
    width: 100%;
}

.textInputContainerCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0 15px 0;
}

.buttonContainerRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 0 15px 0;
}

input[type=text] {
    border: solid 1px #F0F1F7;
    border-radius: 10px;
    height: 4vh;
    width: 100%;
    padding-left: 15px;
    background-color: #FCFDFE;
}

input[type=text]::placeholder {
    color: #9FA2B4;
    opacity: 0.7;
}

input[type=text]:focus {
    outline: none !important;
    border: solid 2px #3751FF;
}


input[type=password] {
    border: solid 1px #F0F1F7;
    border-radius: 10px;
    height: 4vh;
    width: 100%;
    padding-left: 15px;
    background-color: #FCFDFE;
}

input[type=password]::placeholder {
    color: #9FA2B4;
    opacity: 0.7;
}

input[type=password]:focus {
    outline: none !important;
    border: solid 2px #3751FF;
}


input[type=submit] {
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.signupBtn {
    text-decoration: none;
    font-weight: bold;
    background: none;
    color: #3751FF;
    padding: 0;
    margin: 0 10px 0 10px;
}

.signinBtn {
    background: #3751FF;
    color: white;
    height: 4vh;
    width: 100%;
    margin: 10px 0 15px 0;
}

.signinBtn:hover {
    background: #2b42d8;
}

.signupBtn:hover {
    color: #2b42d8;
}

label {
    color: #9FA2B4;
    margin-bottom: 10px;
}

label.inputLabel {
    font-weight: bold;
    opacity: 0.825;
    color: #666666;
}

.mainPageWrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.adminPageHeader {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
}

.map {
    width:650px;
     height:50vh;
  }
  
p.p-warning{
    color: #FF3333;
    font-weight: bold;
}

p.information{
    color: #444444;
}

div.warning{
    display: flex;
    background-color: #FFCCCC;
    flex: 1;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}
